<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{- block "pagetitle" . -}}{{- end -}}</title>
  <meta name="description" content="Diplomantky.cz">
  <meta name="author" content="Andreas Gajdosik">
  <meta name="owner" content="{{- block `owner` . }}{{- end }}">
  <meta name="sourceFile" content="{{- block `sourceFile` . }}{{- end }}">
  <meta name="sourceDir" content="{{- block `sourceDir` . }}{{- end }}">

  <meta name="url" content="{{- block `url` . }}{{- end }}">
  <meta name="artwork" content="{{- block `artwork` . }}{{- end }}">
  <meta name="description" content="{{- block `description` . }}{{- end }}">
  <meta name="year" content="{{- block `description` . }}{{- end }}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{- block `pagetitle` . -}}{{- end -}}" />
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />
  <meta property="og:image" content="{{- block `pageimage` . }}{{- end }}"/>
  <meta property="og:url" content="{{ .Permalink }}"/>

  {{ $css := resources.Get "main.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  <link rel="icon" href="https://www.favu.vut.cz/i/images/favicon_ostra.ico" type="image/x-icon">
  <link rel="shortcut icon" href="https://www.favu.vut.cz/i/images/favicon_ostra.ico" type="image/x-icon">

  {{- block `carousel-lib` . -}}{{- end -}}

</head>

<body>
  {{ partial "header.html" . }}

  <div id="main">
    <div id="content">
      {{ block "content" .}} {{ end }}
    </div>
  </div>

  {{ partial "login.html" . }}
  {{ partial "footer.html" . }}
</body>

{{- block `carousel-script` . -}}{{- end -}}

{{ $built := resources.Get "base.js" | js.Build (dict "params" (dict "FUNCS_URL" $.Site.Params.funcs_url )) }}
<script src="{{ $built.RelPermalink }}" defer></script>

</html>