<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{- block "pagetitle" . -}}{{- end -}}</title>
  <meta name="description" content="Diplomantky.cz">
  <meta name="author" content="Andreas Gajdosik">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{- block `pagetitle` . -}}{{- end -}}" />
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />
  <meta property="og:image" content="{{- block `pageimage` . }}{{- end }}"/>
  <meta property="og:url" content="{{ .Permalink }}"/>

  {{ $css := resources.Get "main.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  <link rel="icon" href="https://www.favu.vut.cz/i/images/favicon_ostra.ico" type="image/x-icon">
  <link rel="shortcut icon" href="https://www.favu.vut.cz/i/images/favicon_ostra.ico" type="image/x-icon">

  {{- block `carousel-lib` . -}}{{- end -}}

</head>

<body>
  {{ range .Translations }}
    <a class="lang" href="{{ .Permalink }}">
      {{.Language}}
    </a>
  {{ end}}

  <a class="back" href="{{ with .Parent }}{{ .Permalink }}{{ end }}">
    < {{ T "back" }}
  </a> 

  <div class="main" id="content">
    {{ block "content" .}} {{ end }}
  </div>

  <footer>
    <a href="https://www.favu.vut.cz/" target="_blank">
      <img src="/logos/favu.jpg">
    </a>
    <button id="edit_button">EDIT</button>
    <button id="save_button">SAVE</button>
    <button id="login_open_popup">LOGIN</button>
  </footer>

  <div id="login_popup">
    <label for="username">username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">password:</label><br>
    <input type="password" id="password" name="password">  
    <button id="login_submit">LOGIN</button>
    <div id="login_report"></div>
  </div>

</body>

{{- block `carousel-script` . -}}{{- end -}}

{{ $built := resources.Get "base.js" | js.Build (dict "params" (dict "FUNCS_URL" $.Site.Params.funcs_url )) }}
<script src="{{ $built.RelPermalink }}" defer></script>

</html>