{{- define "pageimage" -}}{{absURL "/logos/diplomantky.png"}} {{- end -}}
{{- define "pagetitle" -}}Diplomantky.cz - {{.Title}}{{end}}

{{ define "content"}}

{{ range sort .Pages "Weight" "desc"}}
{{ if not (eq .Params.hide true ) }}

<div class="contitem">
  <div class="exhibition half">
    <h1>
      <span>➔ </span><a href="{{ .Permalink }}">{{ .Params.ShortTitle }}</a>
    </h1>
  </div>

  <div class="graduates half">
    <h1>
      <span>➔ </span><a href="{{ .Permalink }}">adasd</a>
    </h1>
  </div>
</div>

{{ end }}
{{ end }}

{{ end }}
