{{- define "pageimage" -}}{{absURL "/logos/diplomantky.png"}} {{- end -}}
{{- define "pagetitle" -}}Diplomantky.cz - {{.Title}}{{end}}

{{ define "content"}}
{{ range $index, $element := sort .Site.Sections "Weight" "desc" }}

  {{if (modBool $index 2) }}
  <div class="contitem">
    <div class="exhibition half">
      <h1 class="expandable"><span>➔ </span>{{ .Params.ShortTitle }}</h1>
      {{ .Page.Content }}
    </div>
  {{ end }}

  {{if not (modBool $index 2) }}
    <div class="graduates half">
      <h1 class="expandable">
        <span>➔ </span>{{ .Params.ShortTitle }}
      </h1>
      <ul>{{ partial "previews/students.html" . }}</ul>
    </div>
  </div>
  {{ end }}

{{ end }}
{{ end }}
