{{- define "pageimage" -}}{{absURL "/logos/diplomantky.png"}} {{- end -}}
{{- define "pagetitle" -}}Diplomantky.cz - {{.Title}}{{end}}

{{ define "content"}}

{{ range $index, $element := sort .Site.Sections "Weight" "desc" }}

  {{if (modBool $index 2) }}
  <div class="contitem">
    <div class="exhibition half">
      <h1><span>➔ </span>{{ .Params.ShortTitle }}</h1>
      {{ partial "previews/exhibition.html" . }}
    </div>
  {{ end }}

  {{if not (modBool $index 2) }}
    <div class="graduates half">
      <h1>
        <span>➔ </span>{{ .Params.ShortTitle }}
        {{ partial "previews/students.html" . }}
      </h1>
    </div>
  </div>
  {{ end }}




{{ end }}

{{ end }}
