<footer>
<div class="menu">
    
    <div class="menuleft">
        <img src='/logos/FaVU_zkratka_inverzni_CZ.png' height="30px">
        <div class="institution">
            <div>Vysoké učení technické v Brně</div>
            <div>Fakulta výtvarných umění</div>
        </div>
        <div class="address">
            <div>Údolní 244/53</div>
            <div>602 00 Brno</div>
        </div>
    </div>

    <div class="social">
        <img src='/logos/facebook.svg' height="20px">
        <img src='/logos/instagram.svg' height="20px">
        <img src='/logos/youtube.svg' height="20px">
    </div>

</div>
</footer>
