<footer>
<div class="menu">
    
    <div class="menuleft">
        <a href="https://www.favu.vut.cz"><img src='/logos/FaVU_zkratka_inverzni_CZ.png' height="30px"></a>
        <div class="institution">
            <div>Vysoké učení technické v Brně</div>
            <div>Fakulta výtvarných umění</div>
        </div>
        <div class="address">
            <div>Údolní 244/53</div>
            <div>602 00 Brno</div>
        </div>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/FaVU.VUT"><img src='/logos/facebook.svg' height="20px"></a>
        <a href="https://www.instagram.com/favulife"><img src='/logos/instagram.svg' height="20px"></a>
        <a href="https://www.youtube.com/channel/UCuHfE9yxxhtek-62NTLJcAQ"><img src='/logos/youtube.svg' height="20px"></a>
    </div>

</div>
</footer>
