{{- define "pageimage" -}}{{ $images := slice }}{{ $path := .Page.File.Dir }}{{ range (readDir (path.Join "content" $path )) }}{{ $image := split .Name "."}}{{ $image_ext := index $image 1 }}{{ if eq $image_ext "jpg" }}{{ $images = $images | append .Name }}{{ end }}{{ end }}{{ $ogImage := path.Join `/` $path (index $images 0) }}{{- absURL $ogImage -}}{{- end -}}
{{- define "pagetitle" -}}{{.Title}}: {{.Params.artwork}} ({{.Params.year}}) {{end}}
{{- define "owner" -}}{{.Params.owner}}{{end}}
{{- define "sourceFile" -}}{{ .File }}{{end}}
{{- define "sourceDir" -}}{{ .File.Dir }}{{end}}

{{- define "url" -}}{{.Params.url}}{{end}}
{{- define "artwork" -}}{{.Params.artwork}}{{end}}
{{- define "description" -}}{{.Params.description}}{{end}}


{{ define "content"}}

<div class="contitem">
  <div class="exhibition half">
    {{ .Content }}
  </div>

  <script src="/tinymce/tinymce.min.js" defer></script>
  {{ $editor := resources.Get "editor.js" | js.Build (dict "params" (dict "FUNCS_URL" $.Site.Params.funcs_url )) }}
  <script src="{{ $editor.RelPermalink }}" defer></script>
</div>
{{ end }}
