@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html{
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
}

body{
    margin: 0;
}

a, a:visited, a:hover, a:active{
    color: inherit;
}

h1{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1.25rem;
}

ul{
    padding: 0;
}
li {
    list-style-type: none;
    padding: .5rem 1rem;
    margin: 0.5rem 0rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;
    border-radius: 10px;
    border-width: 2px;
    max-width: 285px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(0,0,0);
}

#header{
    color: #9D9C9C;
    margin: 15px 40px;
    display: flex;
    justify-content: space-between;
}
#header a{
    text-decoration-line: none;
}
#header button{
    all: unset;
    cursor: pointer;
}
#headerright a{
    margin: 0px 0px 0px 4rem;
}

footer {
    position: fixed;
    height: 60px;
    width: 100vw;
    bottom: 0;
    background-color: #000000;
    color:#9D9C9C;
}

.social img {
    margin-left: 1rem;
}

.menu {
    margin: 15px 40px;
    display: flex;
    justify-content: space-between;  
}

.menu img {
    filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(90%) contrast(86%);
}

.menuleft {
    display: flex;
    justify-content: space-between;
}

.menuleft div {
    margin-left: 2rem;
}

#content {
    display: flex;
    flex-direction: column;
}

.contitem {
    display: flex;
    flex-wrap: wrap;
}

.contitem .expandable {
    position: relative;
    left: -40px;
}

.contitem .half, .contitem .tox-tinymce {
    flex-grow: 1;
    min-width: 400px;
    flex: 40%;
    margin: 0 40px 0 40px;
}

.exhibition{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}
.exhibition h2{
    all: unset;
    font-size: 1.25rem;
    color: #9D9C9C;
    border-bottom: #9D9C9C solid 1px;
    padding: 1.25rem 0 1rem 0;
}

.graduates {
    display: flex;
    flex-direction: column;
}

.graduate {
    width: 300px;
}

#login_popup{
    background-color: grey;
    display: none;
    position: fixed;
    height: 200px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.portfolio{
    flex-grow: 1;
    min-width: 400px;
    flex: 40%;
    padding: 0 40px 0 40px;
}
